.singlePage__wrapper{
    display: flex;
    align-items: flex-start;
    gap: 0 30px;
    margin-top: 100px;
}

.singlePage__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #22262A;
}

.singlePage__ratingWrapper{
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.singlePage__rating{
    color: #FFC600;
    display: flex;
    gap: 0 10px;
}

.singlePage__view{
    color: #C1C8CE;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.singlePage{
    display: flex;
}